db.sqlite3
__pycache__
TaskBuster.sublime-workspace.coverage
htmlcov
.env
*.pyc
taskbuster/staticfiles/admin
taskbuster/staticfiles/css
taskbuster/staticfiles/fonts
taskbuster/staticfiles/js
taskbuster/staticfiles/misc
